<html>
    <head>
        <title>NH Talks</title>
    </head>
    <body>
        <div>
            <h1><a href="/">How to deal with noobs ? </a></h1>
        </div>

        <div>
            <p>published: Right here right now ! </p>
            <h2><a href="">What are noobs ? </a></h2>
            <p>Noobs form a vital part of our lives and one must 
            understand how to ddeal with them ! </p>
        </div>

        <div>
            <p>published: On some time as well </p>
            <h2><a href="">Why noobs ? </a></h2>
            <p>Why do people turn into noobs ? How does noobness 			prevail ? what is old monk ? .</p>
        </div>
    </body>
</html>
